// color
$primaryColor: #0080ff;
$bgColor: #e6e6ff;
$secondColor: #ffb116;
$textColor: #000000;
$gray-100: hsl(240, 47%, 94%);
$gray-200: hsl(240, 26%, 75%);
$gray-300: hsl(240, 24%, 64%);
$gray-400: hsl(240, 16%, 41%);
$gray-500: hsl(240, 44%, 25%);
$gray-600: hsl(240, 48%, 15%);
$whiteColor: #ffffff;

// $xs: 0,
$fs: 0.8rem;
$fn: 1.2rem;
$fm: 2rem;
$flg: 4rem;
$fxl: 5rem;
