@use "../../style/abstract/" as *;

nav {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    img {
      width: 1.85rem;
      height: 1.85rem;
      object-fit: cover;
    }
    span {
      font-size: $fn;
      font-weight: bold;
    }
  }

  .navlinks {
    &.show_link {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: 30%;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
      cursor: pointer;
    }
    &.hide_link {
      display: none;

      @include sm {
        display: flex;
        gap: 2rem;
      }
    }

    li {
      font-weight: 500;
      transition: all 0.5s ease-in-out;
      &:hover {
        font-weight: 600;
        color: $primaryColor;
        transform: scale(1.1);
      }
    }
  }

  .menu-icons {
    display: block;
    font-size: $fm;
    margin-top: 10px;
    cursor: pointer;
    @include sm {
      display: none;
    }
  }
}
